<component name="libraryTable">
  <library name="Spring MVC">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../lib/Spring MVC/spring-web-4.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../lib/Spring MVC/spring-webmvc-4.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../lib/Spring MVC/spring-webmvc-portlet-4.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../lib/Spring MVC/spring-websocket-4.2.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>